$black: #2B2B2B;
$white: #FFFFFF;
$purple: #A259FF;
$gray-light:  #2b2b2b;
$lighter-gray:  #3b3b3b;
$label-gray: #858584;
$call-to-action:  #3b3b3b;
/*$white: #ffffff;
$yellow: #ffd050;
$purple: #592ea9;
$dark-gray: #4c4c4c;
$medium-gray: #6d6e76;
$light-gray: #f4f4f4;
$lavender: #f4f0f8;
$light-yellow: #fbf6ea;
$yellow-hover: #edc14a;
$red: #db4d45;
$green: #0BB07B;

$font-family-sen: 'Sen', sans-serif;
$font-family-inter: 'Inter', sans-serif;

$font-weight-bold: 700;
$font-weight-normal: 400;
*/