@import "../../app/theme/theme.scss";

.how__card__wrapper {
    max-width: 330px;

}

.how__card {
    border-radius: 20px;
    width: 330px;
    height: 439px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 330px));
    background-color: $lighter-gray;
    margin: 0 auto;
    &__image {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    &__title {
        font-weight: 600;
        font-size: 22px;
        line-height: 140%;
        color: $white;
        font-family: 'Space Mono', monospace;
        text-align: center;
    }

    &__about {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: $white;
        font-family: 'Space Mono', monospace;
        text-align: center;
        padding: 0 20px 30px 20px;
    }
}