@import "../../app/theme/theme.scss";

.trending__collection {
    margin-top: 160px;
    &__title {
        font-weight: 600;
        font-size: 38px;
        line-height: 120%;
        font-family: 'Space Mono', monospace;
        color: $white;
        margin-bottom: 10px;
    }

    &__about {
        font-weight: 400;
        font-size: 22px;
        line-height: 160%;
        font-family: 'Space Mono', monospace;
        color: $white;
        margin-bottom: 60px;
    }

    &__elements {
    }
    &__element__wrapper{
  
    
    }

    &__element {
             //   display: grid;
           //     grid-template-columns: repeat(auto-fit, minmax(0px, 310px));
        
        &__images .item1 {
        //    grid-column: 1 / span 3;
        }
        &__images {
         
            &__plus {
                color: $white;
                background-color: $purple;
                border-radius: 20px;
                padding: 32px 15px;
                width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
.item1 {
    grid-column: 1 / span 3;
}

.tranding__collection__element__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 12px; 
}
.tranding__collection__element__wrapper {
    max-width: 310px;
  
}
.tranding__collection__element {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0px, 310px));
}
.item1 {
    grid-column: 1 / span 3;
} 
.tranding__collection__element__images__plus {
    color: $white;
    background-color: $purple;
    border-radius: 20px;
    padding: 32px 15px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
font-size: 22px;
line-height: 160%;
}
.tranding__collection__element {
   // margin-top: ;
    &__title {
        margin-top: 15px;
        color: $white;
        font-weight: 600;
font-size: 22px;
line-height: 140%;
margin-bottom: 10px;

    }
    &__user {
        display: flex;
        column-gap: 12px;
        &__title {
            font-weight: 400;
font-size: 16px;
line-height: 140%;
color: $white;
font-family: 'Space Mono', monospace;
        }
    }
}
.tranding__collection__elements {
    display: flex;
   gap: 50px;

}