@import "../../app/theme/theme.scss";


.discover__more {
 &__card__wrapper {
        max-width: 330px;
    }

    &__card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0px, 330px));
        height: 469px;
        background-color: $lighter-gray;
        border-radius: 20px;

        &__text__content {
            padding: 20px 30px 25px 30px;
        }

        &__about {
            display: flex;
            column-gap: 12px;
            margin-bottom: 25px;

            &__user {
                color: $white;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                font-family: 'Space Mono', monospace;
            }
        }

        &__info {
            display: flex;
            justify-content: space-between;

        }

        &__title {
            color: $white;
            font-weight: 600;
            font-size: 22px;
            font-family: 'Space Mono', monospace;
            line-height: 140%;
        }

        &__left,
        &__right {
            display: flex;
            flex-direction: column;
            row-gap: 8px;

            &__bid {
                font-weight: 400;
                font-size: 12px;
                line-height: 110%;
                text-align: right;
                font-family: 'Space Mono', monospace;
                color: $label-gray;
            }

            &__price {
                color: $label-gray;
                font-weight: 400;
                font-size: 12px;
                line-height: 110%;
                font-family: 'Space Mono', monospace;
            }

            &__eth,
            &__weth {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                font-family: 'Space Mono', monospace;
                color: $white;
            }
        }
    }

}